# Add any directories, files, or patterns you don't want to be tracked by version control

# Visual Studio configuration
*/.vs/

# Compiled output
**/bin/
**/obj/
**/wwwroot/
**/customconnectionstring*.json
